<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
  body
    h1= message
    form(action="/signup", method="post")
      label(for="email") User email 
      input(type="email", name="email", value=data.email)
      p= errors.email
      label(for="password") User password 
      input(type="password", name="password")
      p= errors.password
      label(for="confirmPassword") Confirm password 
      input(type="password", name="confirmPassword")
      p= errors.confirmPassword
      button(type="submit") Signup